{% extends 'main.html' %}
{% load static %}

{% block title %}
Haftalik malumotlar:
{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-12 col-lg-8 col-xl-8" style="left: 18%;">
        <div class="card">
            <div class="card-header">Davomat
                <div class="card-action">
                    <div class="dropdown">
                    </div>
                </div>
            </div>
            <div class="table-responsive"
                style="max-height: 500px; overflow-y: auto; scroll-snap-type: proximity; scrollbar-color: green;">
                <table class="table align-items-center table-flush table-borderless">
                    <tr>
                        <td><a href="{% url 'oquvchilar' %}">1</a></td>
                        <td style="display: flex;">
                            <div class="bar"
                                style="width: 90%; background-color: #00FF00; text-align: center; color: black;">
                                94%
                            </div>
                            <div class="bar"
                                style="width: 6%; background-color: yellow; text-align: center; color: black;">
                                2%
                            </div>
                            <div class="bar"
                                style="width: 4%; background-color: red; text-align: center; color: black;">
                                1%</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <hr>

    <div class="col-12 col-lg-8 col-xl-8" style="left: 18%;">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
                <div style="display: flex;">
                    <p>
                    <div style="background-color: red; width: 20px; height: 20px;"></div> - kechikib
                    kelgan</p>
                </div>
                <div style="display: flex;">
                    <p>
                    <div style="background-color: yellow; width: 20px; height: 20px;"></div> - kelmagan
                    </p>
                </div>
                <div style="display: flex;">
                    <p>
                    <div style="background-color:#00FF00; width: 20px; height: 20px;"></div> - kelgan
                    </p>
                </div>
            </div>
        </div>
    </div>

</div> <br><br>
<p>Jami: {{ jami_son }}</p>

<div class="row">
    <div class="col-12 col-lg-8 col-xl-8" style="position: relative; left: 18%; bottom: -30px;">
      <div class="card">
        <h5 style="text-align: center;">Haftalik malumotlar:</h5>

        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
          <table class="table align-items-center table-flush table-borderless">
            <thead>
                <tr>
                    <th>O'quvchini ID</th>
                    <th>Sana</th>
                    <th>Vaqt</th>
                </tr>
            </thead>
            <tbody>
                {% for malumot in haftalik_malumotlar %}
                <tr>
                    <td>{{ malumot.oquvchi_id }}</td>
                    <td>{{ malumot.sana }}</td>
                    <td>{{ malumot.vaqt }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Haftalik ma'lumotlar qo'shilmagan</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>

</div>
{% endblock %}
